<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name = "login suite">


    <test name = "user_login">
        <parameter name="username" value="alexgf08@gmail.com"></parameter>
        <parameter name="password" value="Test123"></parameter>
        <classes>
            <class name="clase_3"/>
        </classes>
    </test>
</suite>